body {
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.search-container {
    margin-top: 50px; /* Adjust as needed */
}

.google-g, .google-o1, .google-o2, .google-l, .google-e {
    font-size: 24px;
    font-weight: bold;
    color: #4285f4;
}

.search-box {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

.search-button {
    padding: 10px 20px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
